{% load i18n %} {% block content %}
<ul>
  {% for task in project.task_set.all %}
  <li>
    <form method="post" action="{% url 'task_update' task.id %}">
      {% csrf_token %}
      <input
        type="checkbox"
        name="is_completed"
        {% if task.is_completed %}checked{% endif %}
        onchange="this.form.submit()"
      />
    </form>
    {{ task.description }}
  </li>
  <form method="post" action="{% url 'task_delete' task.id %}">
    {% csrf_token %}
    <button type = "submit">delete</button>
  </form>
  {% endfor %}
</ul>

<form method="post" action="{% url 'task_create' %}">
  {% csrf_token %}
  <input type="hidden" name="project" value="{{ project.id }}" />
  <input type="text" name="description" placeholder="{% trans 'New task' %}" />
  <input type="submit" value="{% trans 'Add' %}" />
</form>
{% endblock content %}
